<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.beini.mapper.ClassBeanMapper">

    <resultMap type="ClassBean" id="classMap">
        <id column="class_id" property="class_id"/>
        <result column="grade" property="grade"/>
        <result column="count" property="count"/>

        <collection property="stdudents" ofType="com.beini.bean.Students" column="class_id">
            <id column="stu_id" property="stu_id"/>
            <result column="name" property="name"/>
            <result column="age" property="age"/>
        </collection>
    </resultMap>

    <select id="queryClassById" resultType="ClassBean" resultMap="classMap">
        SELECT * FROM students,classbean WHERE students.class_id = classbean.class_id AND classbean.class_id = #{id};
    </select>
</mapper>