<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.beini.mapper.OrdersMapper">

    <resultMap type="com.beini.bean.Orders" id="OrdersResultMap">
        <id column="o_id" property="id"/>

        <result column="price" property="price"/>
        <!-- association:用户映射关联查询单个对象的信息 -->
        <!-- property:要将关联查询的用户信息映射到person中哪个属性 -->
        <association property="person" javaType="com.beini.bean.Person">
            <id column="p_id" property="id"/>
            <result column="name" property="name"/>
        </association>

    </resultMap>

    <select id="selectOrdersFetchPerson" resultMap="OrdersResultMap">
        select p.*,o.* from person p,orders o where o.persionId=p.p_id and o.id=#{id}
    </select>

</mapper>