<component name="ArtifactManager">
  <artifact type="exploded-war" name="SpringMVC:war exploded">
    <output-path>$PROJECT_DIR$/out/artifacts/SpringMVC_war_exploded</output-path>
    <root id="root">
      <element id="javaee-facet-resources" facet="SpringMVC/web/Web" />
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="SpringMVC" />
        </element>
        <element id="directory" name="lib">
          <element id="library" level="project" name="Spring MVC" />
          <element id="library" level="project" name="activation" />
          <element id="library" level="project" name="shiro-all-1.3.2" />
          <element id="library" level="project" name="slf4j-api-1.6.6" />
          <element id="library" level="project" name="slf4j-log4j12-1.7.25" />
          <element id="library" level="project" name="java_websocket" />
          <element id="library" level="project" name="netty-all-4.1.14.Final" />
          <element id="library" level="project" name="snappy-java-1.1.4" />
          <element id="library" level="project" name="lz4-java-1.4" />
        </element>
      </element>
    </root>
  </artifact>
</component>